%h1= _('Listing Comments')

= will_paginate @comments
 
%table
  %tr
    %th= _('Autor')
    %th= _('Treść')
    %th= _('Url')
 
  - for comment in @comments
    %tr
      %td= h comment.author
      %td= h comment.body
      %td= h comment.url
      %td
        = link_to _('Show'), admin_comment_path(comment)
        = link_to _('Edit'), edit_admin_comment_path(comment)
        = link_to _('Destroy'), admin_comment_path(comment), :confirm => _('Are you sure?'), :method => :delete

= will_paginate @comments
 
= link_to _('New Comment'), new_admin_comment_path
