%h1= "Comment \"#{@comment.to_param}\""
- content_tag_for :div, @comment do
  %ul
    %li
      %strong= 'Author:'
      =h @comment.author
    %li
      %strong= 'Body:'
      =h @comment.body

= link_to 'Edit', edit_admin_comment_path(@comment)
= link_to 'Back', admin_comments_path
