#logo
  = link_to image_tag( "logo2.png", :border => '0', :alt => 'fotomar', :size => '298x91'), root_path

#menu
  %ul.nav
    %li#start
      = link_to 'start', root_path, class: request.url =~ /\/$/ ? 'selected' : ''
    %li#contact
      = link_to 'kontakt', new_contact_path, class: request.url =~ /\/contacts/ ? 'selected' : ''      
  .clearfix

  %br

  %ul.categories
    - @categories.each do |category|
      %li.category{class: request.url =~ /\/#{category.id}/ ? 'selected' : ''}
        = link_to category.name, category_images_path(category)
