%p.name
  = f.label :name, 'imię *' unless !contact_section?
  - if request.url =~ /contacts/
    %span
      = 'podaj swoje imię'
    = f.text_field :name
  - else
    = f.text_field :name, placeholder: "imię"
%p.phone
  = f.label :phone, 'email / telefon *' unless !contact_section?
  - if request.url =~ /contacts/
    %span
      = 'podaj email lub telefon'
    = f.text_field :phone
  - else
    = f.text_field :phone, placeholder: "email / telefon"
%p.body
  = f.label :body, 'treść *' unless !contact_section?
  - if request.url =~ /contacts/
    %span
      = 'zadaj mi pytanie a ja skontaktuję się z Tobą za pośrednictwem email lub telefonu'
    = f.text_area :body, :size => '25x4'
  - else
    = f.text_area :body, :size => '25x4', placeholder: "treść"
