%h1= 'Listing Categories'
 
%table
  %tr
    %th= 'Name'
    %th= 'Opis'
    %th= 'Akcje'
 
  - for category in @categories
    %tr
      %td= h category.name
      %td= h category.body
      %td
        = link_to 'Show', admin_category_path(category)
        = link_to 'Edit', edit_admin_category_path(category)
        = link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete unless category.predefined?
 
= link_to 'New Category', new_admin_category_path
