= 'Zmień: '
= 'Status'
= select_tag 'actions[status]', options_for_select(Image.statuses, :selected => 1)
,
= 'Slideshow'
= select_tag 'actions[slideshow]', options_for_select(Image::OPTIONS, :selected => 2)
= submit_tag 'Zastosuj'
