%h1= 'Listing Images'

= link_to 'New Image', new_admin_image_path

= will_paginate @images

= form_tag multi_change_admin_images_path, :method => :get do

  = render :partial => 'form_actions'
 
  %table
    %tr
      %th= 'Zaznacz'
      %th=# order @search, :by => :category_name, :as => 'Category'
      %th=# order @search, :by => :status, :as => 'Status'
      %th=# order @search, :by => :slideshow, :as => 'Slideshow'
      %th=# order @search, :by => :url, :as => 'Url'
      %th= 'Thumbnail'
      %th= 'Akcje'
 
    - for image in @images
      %tr
        %td= check_box_tag "images[]", image.id
        %td= h image.category.try(:name)
        %td= h image.display_status
        %td= h image.display_slideshow
        %td= h image.url
        %td= image_tag image.thumbnail_url.to_s, :size => '100x75'
        %td
          = link_to 'Show', admin_image_path(image)
          = link_to 'Edit', edit_admin_image_path(image)
          = link_to 'Destroy', admin_image_path(image), :confirm => 'Czy napewno?', :method => :delete

  = render :partial => 'form_actions'

= will_paginate @images
 
= link_to 'New Image', new_admin_image_path
