%h1= "Image \"#{@image.to_param}\""
- content_tag_for :div, @image do
  %ul
    %li
      %strong= 'Body:'
      =h @image.body
    %li
      %strong= 'Status:'
      =h @image.display_status
    %li
      %strong= 'Slideshow:'
      =h @image.display_slideshow
    %li
      %strong= 'Thumbnail:'
      =h @image.thumbnail_url
      %br/
      = image_tag @image.thumbnail_url
    %li
      %strong= 'Small:'
      =h @image.small_url
      %br/
      = image_tag @image.small_url
    %li
      %strong= 'Medium:'
      =h @image.medium_url
      %br/
      = image_tag @image.medium_url
    %li
      %strong= 'Image:'
      =h @image.url
      %br/
      = image_tag @image.url

= link_to 'Edit', edit_admin_image_path(@image)
= link_to 'Back', admin_images_path
